@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font-normal: "Poppins", sans-serif;
    --font-numero: "Saira Stencil" , sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: var(--font-normal);

    background-color: #fff;
    width: 400px;
    margin: 120px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.6);
}

button{
    background-color: green;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
}

#resultado{
    font-family: var(--font-numero);
    font-size: 3rem;
    color: black;
}